



section{
margin: 10% ;
 
}
section div{
    width: 300px;
    padding: 48px;
    float: left;
    height: 500px;

}
section .first{
     background-color: hsl(31, 77%, 52%);
     border-top-left-radius: 7px;
     border-bottom-left-radius: 7px;
}
section  img{
    margin: 0 146px 40px 0;
}
section  h1{
    font-size: 35px;
    /* font-weight: 500; */
    text-transform: uppercase;
    font-family: Big_Shoulders_Display;
    margin-bottom: 40px;
    color:hsl(0, 0%, 95%) ;
}
section p{
    /* font-weight: 300px; */
    font-family: Lexend_Deca;
    line-height: 24px;
    margin-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
}

button{
    width: 148px;
    height: 48px;
    border: none;
    border-radius:29px;
    background: hsl(0, 0%, 95%);
    font-family: Lexend_Deca;
    font-weight:500;
}
section .first button{
    background: #fff;
    color: hsl(31, 77%, 52%) ;
}


section .second{
    background: hsl(184, 100%, 22%);
}

section .second button{
    color:  hsl(184, 100%, 22%);
}

section .third{
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
section .third button{
    color: hsl(184, 100%, 22%) ;
}
button:hover{
    color: hsl(0, 0%, 95%);
}
section .first button:hover{
    background: hsl(31, 77%, 52%);
    border: 3px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
section .second button:hover{
    background: hsl(184, 100%, 22%);
    border: 3px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
section .third button:hover{
    background: hsl(184, 100%, 22%);
    border: 3px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.attribution{
    color: black;
    margin-top: -80px;
}
